<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Split Money</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>splitmoney</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.355163829896-edm10jatko5ce3idibkthcudp3e08td4</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>355163829896-edm10jatko5ce3idibkthcudp3e08td4.apps.googleusercontent.com</string>
	<key>NSContactsUsageDescription</key>
	<string>Split Money needs access to your contacts to let you add friends to groups.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Split Money requires Face ID / Touch ID access to securely authenticate and unlock your expense data.</string>
</dict>
</plist>
